<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<main role="main">
<div class="jumbotron">
    <div class="container">
        <img src="{% static '/Librarylogo.png' %}" class="rounded float-start" alt="LOGO"  height="205" style="margin-right: 20px;">
        <h1 class="display-4"><b>Привіт!</b></h1>
        <p>Ласкаво просимо до веб-додатку, де ви можете зручно керувати своєю бібліотекою.</p>
        <p><a role="button" href="/books" class="btn btn-primary btn-lg">Переглянути бібліотеку >></a></p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <h3>Чому книжки є важливими?</h3>
        <p>Книжки важливі, тому що вони розвивають мислення, сприяючи критичному та аналітичному підходу до вирішення проблем. Вони збагачують знання, надаючи доступ до різних культур, історій та ідей, що розширює наш кругозір. Читання книжок поліпшує мовлення, розширюючи словниковий запас та вдосконалюючи навички мови. І, звісно, вони розважають, надаючи джерело задоволення та відпочинку.
        </p>
      </div>
      <div class="col">
        <h3>Ключові переваги</h3>
        <ul>
            <li>Збільшує ваш словниковий запас і навички розуміння прози</li>
            <li>Поліпшує психічне здоров'я</li>
            <li>Зменшує стрес</li>
            <li>Запобігає погіршенню когнітивних функцій</li>
        </ul>
      </div>
      <div class="col">
        <h3>Думка дня</h3>
        <p>"Можливості сховані в кожному електроні, в кожному промені світла. Шукаючи їх, ми розкриваємо таємниці Всесвіту." - Нікола Тесла</p>
      </div>
    </div>
    <hr>
</div>
</main>
<footer class="container">
    <p>© Library 2024</p>
</footer>
{% endblock %}